<p>Hello,</p>
<p>Someone at this email address recently requested a password reset for their account on SmartSOS. If you click on the below link, you will be prompted to reset your password information.</p>
<p/>
<p><%= edit_password_reset_url(@user.password_reset_token) %></p>

