<h1 align="center">About smartSOS</h1><br>

<div align="center" class="about-us">
		<p>smartSOS helps non-profit organizations acquire essential supplies by providing a centralized platform to connect with donors. In the process, we solve 2 major problems: communication and resource allocation. 

		Organizations can specify exactly what items they need, and donors in the surrounding community can respond to requests accordingly. This helps organizations effectively communicate their needs while receiving only the items they truly need.

		What makes smartSOS different?

		smartSOS allows donations to take place in 2 ways. A donor can pledge to deliver items they already have, or use our BUY feature (connected to Amazon) to buy and ship items directly to the organization. In contrast to simply donating money, donors have transparency and instant gratification from knowing that they helped to meet a specific need.</p>
</div>