<h1 align="center">How it works</h1><br>

<div align="center" class="how-it-works">
	<h3>Organizations</h3>
	<p>1. Sign up your organization and create a campaign. In the meantime we will verify your non-profit status before you can publish your camapign.</p>
	<p>2. Add items to your campaign.</p>
	<p>3. Promote your campaign through email/social media and track progress through the Dashboard.</p>
</div>	


<div align="center" class="how-it-works">
	<h3>Donors</h3>
	<p>1. Pick a campaign you want to donate to.</p>
	<p>2. From the list of requested items, you can choose to drop off items you already have or plan to buy loally. Alternatively, use our shopping cart feature to buy and ship items directly to your favorite organization through Amazon.</p>
	<p>3. Tell your family and friends and ask them to help as well.</p>
	<p>4. Be happy knowing that you helped an organization meet a real need. </p>
</div>	