<p>Hello,</p>
<p>Someone at this email address recently requested a password reset for their account on SmartSOS. If you click on the below link, you will be prompted to reset your password information.</p>
<p/>
<p><%= link_to("Confirm Account", edit_confirm_account_url(@user.account_confirmation_token)) %></p>

